<h1>Nowa wiadomość</h1>

<p>Chciałbyś zacząć naukę już teraz? Masz pytania? Wyślij wiadomość za pomocą poniższego formularza, </p><p>
zadzwoń pod <strong>+44 7935 691 402</strong></p><p> lub napisz maila na: <strong><%= mail_to "englishinaberdeen@gmail.com" %></strong></p>
</p>

<%= render 'form' %>

<%= link_to 'Powrót', home_path %>
