<h1>Nowa wiadomość</h1>

<p>Chciałbyś zacząć naukę już teraz? Masz pytania? </p><p>Napisz maila na: <strong><%= mail_to "angielskiwaberdeen@gmail.com" %></strong>,</p><p>
zadzwoń pod <strong>+44 7935 691 402</strong>,</p><p>lub wyślij wiadomość za pomocą poniższego formularza:</p>

<%= render 'form' %>z

<%= link_to 'Powrót', home_path %>
