<h1>Lekcje angielskiego w Aberdeen oraz przez Internet!</h1>

<%= image_tag "Aberdeen.jpg" %>

<br>

<br>
<p>Nie wiesz, co do Ciebie mówią w pracy?</p>
<p>Nie możesz załatwić sprawy w urzędzie?</p>
<p>W sklepie pokazujesz palcem i uśmiechasz się, bo tylko tak umiesz przekazać, o co Ci chodzi?</p>
<p>Chcesz poznać nowych ludzi, ale wątpisz, że się dogadasz?</p>
<p>Wkurza Cię to, że w klasie uczysz się języka, który nie przypomina tego, co słyszysz na ulicy?</p>
<p>Chcesz nauczyć się angielskiego, ale boisz się, że kurs z native speakerem będzie dla Ciebie za trudny?</p>
<p>Twoje dziecko ma problem z nauką?</p>
<p>A może Ty sam/a uczysz się, ale masz problemy z pisaniem zadań i wypracowań?</p>

<p><strong>Nie ważne, do której grupy osób należysz – język angielski jest prosty w nauce w stopniu komunikatywnym, a mieszkając w Aberdeen ćwiczyć możesz do woli! Ale aby się udało, trzeba dać sobie pomóc!</strong></p>

<p>Oferuję naukę w przyjemnej atmosferze, której tempo będzie dostosowane do Twoich potrzeb i możliwości, a nie do tego, jak szybko (albo wolno) łapie reszta grupy. Lekcje odbywają się w domu ucznia (w obrębie Aberdeen) bądź w domu nauczyciela (w centrum) – wedle życzenia. Nauczam indywidualnie bądź w parze, co gwarantuje lepsze wyniki od kursów w większych grupach. Moje lekcje są ciekawe, pełne przydatnych wskazówek i pozwalają na łatwe przyswajanie przerabianego materiału. To, co robimy na zajęciach, zależy od Twoich potrzeb i możliwości oraz oczekiwań i celów, jakie sobie postawisz. Jeśli nie wiesz, jakie to cele - w tym też chętnie pomogę!</p>

<p>Chciałbyś zacząć naukę już teraz? Masz pytania? Zajrzyj do zakładki 
<%= link_to "Kontakt", new_message_path %> .</p>