<h1>Lekcje angielskiego w Aberdeen z Polakiem</h1>

<%= image_tag "Aberdeen.jpg" %>

<p>Nie wiesz, co do Ciebie mówią w pracy? Nie możesz załatwić sprawy w urzędzie? W sklepie pokazujesz palcem i uśmiechasz się, bo tylko tak umiesz przekazać, o co Ci chodzi? Chcesz poznać nowych ludzi, ale wątpisz, że się dogadasz? Męczy Cię to, że uczysz się w klasie języka, który nie przypomina tego, który słyszysz na ulicy? Chcesz nauczyć się angielskiego, ale boisz się, że kurs z native speakerem będzie dla Ciebie za trudny?</p>
<p>A może Twoje dziecko ma problem z nauką? Może Ty sam/a uczysz się, ale masz problemy z pisaniem zadań i wypracowań?</p>

<p>Nie ważne, do której grupy osób należysz – język angielski jest prosty w nauce w stopniu komunikatywnym, a mieszkając w Aberdeen ćwiczyć możesz do woli! Ale aby się udało, trzeba dać sobie pomóc!</p>

<h3>Lekcje angielskiego z profesjonalnym, doświadczonym nauczycielem, absolwentem filologii angielskiej.</h3>

<p>Oferuję naukę w przyjemnej atmosferze, której tempo będzie dostosowane do Twoich potrzeb i możliwości, a nie do tego, jak szybko (albo wolno) łapie reszta grupy. Lekcje odbywają się w domu ucznia (w obrębie Aberdeen) bądź w domu nauczyciela (w centrum) – wedle życzenia. Nauczam indywidualnie bądź w parze, co gwarantuje lepsze wyniki od kursów w większych grupach. Moje lekcje są ciekawe, pełne przydatnych wskazówek i pozwalają na łatwe przyswajanie przerabianego materiału. To, co robimy na zajęciach zależy od Twoich potrzeb i możliwości oraz oczekiwań i celów, jakie sobie postawisz.</p>

<p>Chciałbyś zacząć naukę już teraz? Masz pytania? Zadzwoń pod +44 7935 691 402 lub napisz maila na: w.szczerek.12@aberdeen.ac.uk</p>